#infoInput {
  width: 100%;
  height: 100vh;
}
.infoInput__container {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.infoInput__intro {
  width: 100%;
  height: 20vh;
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoInputArea {
  font-size: 16px;
  height: 30px;
  width: 250px;
  outline: none;
  border: solid 1px rgb(255, 204, 128);
  padding-left: 20px;
  border-radius: 24px;
  width: 300px;
  padding-top: 1px;
}

.infoInput__sections {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.infoInput__confirm__container {
  width: 100%;
  height: 15vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoInput__confirm {
  border-radius: 4px;
  background-color: #1ed4f4;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  outline: none;
}

.infoInput__confirm:hover {
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.6;
}

@media (min-height: 820px) {
  .infoInput__intro {
    height: 20vh;
    font-size: 1.7em;
  }
  .infoInput__sections {
    height: 35vh;
  }
  .infoInput__confirm__container {
    height: 18vh;
    justify-content: flex-start;
    padding-top: 57px;
  }
}
