#infoInput {
  width: 100%;
  height: 100vh;
}

#infoInput__background {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #1ed4f4; */
  background-color: #a7dbef;
}

.infoInput__container {
  position: relative;
  width: 68vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.infoInput__intro {
  width: 100%;
  height: 30vh;
  font-size: 1.4em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoInput__head {
  font-family: "Bevan", cursive;
  font-size: 2.1em;
}

.infoInputArea {
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  height: 30px;
  outline: none;
  border: solid 1px rgb(255, 204, 128);
  padding-left: 15px;
  border-radius: 24px;
  width: 300px;
  padding-top: 1px;
}

.infoInput__sections {
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.infoInput__confirm__container {
  width: 100%;
  height: 20vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoInput__confirm {
  border-radius: 4px;
  background-color: #1ed4f4;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  outline: none;
}

.infoInput__confirm:hover {
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.6;
}

.filler {
  width: 60vw;
  height: 5vh;
  background-color: white;
}

.cityState {
  width: 318px;
  display: flex;
  justify-content: space-between;
}

.city {
  width: 225px;
}

.state {
  width: 45px;
}

@media (min-height: 820px) {
  .infoInput__intro {
    height: 30vh;
    font-size: 1.7em;
  }
  .infoInput__sections {
    height: 35vh;
    justify-content: space-around;
  }
  .infoInput__confirm__container {
    height: 15vh;
    justify-content: flex-start;
    padding-top: 57px;
  }
}
@media (max-width: 375px) {
  .infoInput__intro {
    font-size: 1em;
  }
  .infoInput__head {
    font-size: 1.9em;
  }
}

@media (max-width: 980px) {
  #infoInput__background {
    background: none;
  }
}

@media (max-width: 320px) {
  .infoInputArea {
    width: 240px;
  }
  .cityState {
    width: 258px;
  }
  .city {
    width: 170px;
  }
  .state {
    width: 45px;
  }
}
