.chatPage {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.chat__carrier {
  width: auto;
  height: auto;
  margin-top: 10vh;
  margin-left: 206px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__header {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding-top: 70px;
}

.chat__slogan {
  font-size: 4em;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

@media (min-width: 1500px) {
  .chat__carrier {
    margin-left: 270px;
  }
  .chat__slogan {
    font-size: 5em;
  }
}
