@media (min-width: 1025px) {
  #header {
    border-bottom: none;
  }
  .header__container {
    justify-content: space-between;
  }
  .slogan {
    font-size: 4em;
  }
  .header__filler {
    display: none;
  }
}

@media (min-height: 900px) {
  .header__container {
    height: 65px;
  }
  .logo {
    font-size: 2em;
  }
}
