#loginPage {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/*--- First Page ---*/

.leftSide {
  width: 67vw;
  height: 90vh;
  /* background: #eee; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slogan__box {
  width: auto;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.slogan__bar {
  width: 380px;
  height: 1.3px;
  background: rgb(34, 34, 34);
  opacity: 0.5;
}

.rightSide {
  width: 33vw;
  height: 90vh;
  /* background: #ddd; */
  display: flex;
  align-items: center;
}

.imageBoxes {
  width: 80%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
}

.image {
  width: 270px;
  height: 270px;
  margin: 4px;
  background-image: url(../../images/plan.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  /* box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19); */
}

/*--- Section-a ---*/

#section-a {
  position: relative;
  z-index: 1;
  height: 80vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-attachment: fixed;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

#section-a .bg {
  margin-top: 10vh;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../../images/plan.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-attachment: fixed;
  min-height: 500px;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

.slogan {
  z-index: 2;
  font-size: 2.4em;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  line-height: 1.4em;
  letter-spacing: 2px;
  color: rgb(34, 34, 34);
  color: white;
}
.loginButton:hover {
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.6;
}
/*--- Second Page ---*/

#aboutPage {
  width: 100%;
  height: 100vh;
  display: none;
  /* background-color: #eee; */
  z-index: -1;
}

@media (min-width: 1025px) {
  #section-a {
    display: none;
  }
  #homeDesign__container {
    display: flex;
  }
  #aboutPage {
    display: flex;
  }
  .slogan {
    font-size: 2.8em;
    color: rgb(34, 34, 34);
  }
}

@media (min-width: 1635px) {
  .slogan {
    font-size: 4em;
  }
  .slogan__box {
    height: 220px;
  }
  .slogan__bar {
    height: 2px;
  }
  .image {
    width: 340px;
    height: 340px;
  }
}

@media (min-height: 1366px) {
  .slogan {
    font-size: 4em;
  }
}
