.recommended__carrier {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list__carrier {
  width: auto;
  height: auto;
  padding-top: 30px;
  padding-left: 55px;
  padding-right: 30px;
  padding-bottom: 30px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  display: grid;
  grid: auto-flow / repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.title__carrier {
  width: 100%;
  height: 200px;
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
}
.recommendedTitle {
  font-size: 3em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: white;
}

.recImage {
  width: auto;
  height: 300px;
}
.one,
.two,
.three,
.four {
  background-image: url(../../images/restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
}

.list_carrier > div {
  background: #eee;
}

.list_carrier > div:nth-child(odd) {
  background: #ddd;
}

@media (min-width: 1500px) {
  .list__carrier {
    padding-top: 60px;
    margin-left: 70px;
    padding-bottom: 60px;
  }
}
